@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema chiaro, leggibile */
html, body {
  background-color: #f9fafb;  /* grigio chiaro */
  color: #111;                /* testo quasi nero */
}

/* migliora contrasto dei link e card */
a {
  color: #065f46;
}
